<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/dashboard/users">Admin</a>
    <div class="btns">
      <a class="user-btn" href="/dashboard/users">Manage Users</a>
      <a class="book-btn" href="/dashboard/books">Manage Books</a>
      <a class="logout-btn" href="/login">Logout</a>
    </div>
  </div>
</nav>
